<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CommuteRecorder.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>todayWidget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4F490ECD200DECDB0035C86E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4F490EE1200DECDB0035C86E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4F490EEC200DECDB0035C86E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4FC92C8C20118E070099B786</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
